.bg-letter {
	position: relative;
	/* overflow: hidden; */
}

.bg-letter::after {
	z-index: 20;
	position: absolute;
	top: 0;
	right: 500px;
	content: attr(data-letter);
	font-family: 'Snell-Roundhand', 'serif';
	color: #E5A599;
	font-size: 120vh;
	line-height: 100vh;
}